---
layout: default
---

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Alex LaGrassa</h1>
        <p class="text-justify">
            I just finished my PhD in robotics at CMU. I'm interested in teaching robotics, programming, and AI. My research interest is using machine learning for robot decision-making with inaccurate world models.  
        </p>
        <div>
		 {% capture cv %} 
         {% include_relative _includes/cv.md %}
	 {% endcapture %} 

	 {{ cv | markdownify }}
        </div>
        <p style="text-align:center">
            <a target="_blank" href="https://mailhide.io/">Email</a> &nbsp;/&nbsp;
            <a href="https://github.com/">GitHub</a> &nbsp;/&nbsp;
            <a href="https://bluesky.com/">Blue Sky</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?user=BeNOXOYAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
            <a href="https://www.linkedin.com/in/alex-lagrassa-47a30299">LinkedIn </a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="smiling white person with short hair in front of brick building" id="portrait" src="images/bio.jpg">
    </div>
</div>

<!-- {% include publications.html %} -->
